[package]
name = "serde_wasm_derive"
version = "0.1.0"
edition = "2021"

[workspace]

[lib]
proc-macro = true
path = "src/lib.rs"

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full"] }

[profile.release]
opt-level = "z"
lto = true
strip = true
